/* ArticlePage.css */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Lora&family=Merriweather:wght@300;700&family=Roboto:wght@300&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #fff;
}

.article-container {
    font-size: 18px;
    line-height: 1.6;
}

h1, h2, h3 {
    line-height: 1.4;
}

h1 {
    margin-top: 150px;
    font-weight: normal;
    letter-spacing: 1.5px;
    font-size: 60px;
    line-height: 1.4;
}

h2 {
    font-family: 'Roboto', sans-serif;
    /*font-style: oblique;*/
    font-size: 25px;
    color: #868686;
}

.names {
    text-align: center;
}

.date {
    text-align: center;
    font-style: italic;
}

p {
    line-height: 2;
    /*letter-spacing: 0.8px;*/
    font-family: 'Merriweather', serif;
}

.article-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
}

.wide-map-component {
    width: calc(100vw - 40px); /* Subtracting horizontal paddings */
    max-width: 1200px; /* Optional: You can set a maximum width if needed */
    margin: 20px auto;
    overflow-x: hidden; /* This will prevent horizontal scrolling if any overflow occurs */
    position: relative; /* To help with centering, especially if you're using absolute positioning inside */
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
}

.wide-component {
    width: calc(100vw); /* Subtracting horizontal paddings */
    margin: 20px auto 100px auto;
    overflow-x: hidden; /* Prevents horizontal scrolling if any overflow occurs */
    position: relative; /* Helps with centering */
    display: flex; /* Enables flexbox layout */
    flex-direction: column; /* Stacks children vertically */
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    min-height: 400px; /* Adjust as needed to give enough vertical space */
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    background-color: #f7f7f7;
}

h4 {
    /*border: 1px red solid;*/
    width: 100%;
    max-width: 1200px;
    justify-content: left; /* Centers content horizontally */
}
/* CSS for styling the tables */
.large-table {
    margin: 0 auto; /* Center the table horizontally */
    width: 100%; /* Take full width of the container */
    max-width: 800px; /* Set a maximum width to prevent it from becoming too wide */
    border-radius: 10px; /* Rounded border */
    border: 1px solid #e0e0e0; /* Add a border */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    padding: 20px; /* Add some padding for spacing */
    background-color: #fff; /* White background */
}

.large-table h2 {
    font-size: 24px; /* Large font size for table headings */
    margin-top: 0; /* Remove top margin for headings */
}

table {
    width: 100%; /* Table takes full width */
    border-collapse: collapse; /* Collapse table borders */
}

th, td {
    padding: 10px; /* Add padding for spacing */
    text-align: left; /* Left-align table content */
}

th {
    background-color: #f0f0f0; /* Header background color */
    font-weight: bold; /* Bold header text */
}

tbody tr:nth-child(even) {
    background-color: #f5f5f5; /* Alternate row background color */
}

/* Style the "See more" message */
.see-more {
    text-align: center; /* Center-align the message */
    font-size: 14px; /* Small font size for the message */
    margin-top: 10px; /* Add some top margin for spacing */
    color: #666; /* Gray text color */
}
